name: Move to release
on:
  workflow_call:
jobs:
  trmPublish:
    name: TRM Set latest tag
    runs-on: ubuntu-latest
    steps:
      - uses: actions/download-artifact@master
        with:
          name: checkout
          path: ./
      - name: Unzip checkout
        run: unzip checkout.zip
      - name: Read manifest
        id: manifest
        uses: ./actions/regesta/booster/readManifest
        with:
          manifestPath: ./repo/manifest.json
      - name: Get package tags
        id: get_tags
        uses: muhfaris/request-action@main
        with:
          url: https://trmregistry.com/registry/package/${{ steps.manifest.outputs.packageName }}
          headers: "{\"Authorization\": \"Bearer ${{ secrets.TRM_TOKEN }}\"}"
          method: GET
      - name: Save response to file
        run: |
          echo '${{ steps.get_tags.outputs.response-data }}' > ./package_tags.json
      - name: Extract rc tag
        uses: sergeysova/jq-action@v2
        id: rc
        with:
          cmd: "jq '.dist_tags.rc' ./package_tags.json -r"
      - name: Add latest tag
        uses: muhfaris/request-action@main
        with:
          url: https://trmregistry.com/registry/package/tag/${{ steps.manifest.outputs.packageName }}
          headers: |
            {
              "Authorization": "Bearer ${{ secrets.TRM_TOKEN }}",
              "Content-Type": "application/json"
            }
          body: |
            {
              "tag": "latest",
              "version": "${{ steps.rc.outputs.value }}"
            }
          method: PUT
      - name: Remove rc tag
        uses: muhfaris/request-action@main
        with:
          url: https://trmregistry.com/registry/package/tag/${{ steps.manifest.outputs.packageName }}
          headers: |
            {
              "Authorization": "Bearer ${{ secrets.TRM_TOKEN }}",
              "Content-Type": "application/json"
            }
          body: |
            {
              "tag": "rc"
            }
          method: DELETE
